html, body, body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h1 {
  margin-bottom: 2%;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1%;
  color: $text-default;
  font-weight: 100;
  border-bottom: 1px solid rgba(255, 131, 131, 0.7);
  width: fit-content;
  padding: 10px 10px 10px 0px;
}

.page {
  > h2 {
    margin-bottom: 7%;
  }
}

h3 {
  font-size: 1.2em;
  margin-bottom: 4%;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 1%;
  line-height: 1.7em;
  font-weight: lighter;
  font-size: 18px;

}

a, p {
  color: $text-default;
}

a {
  border-bottom: 1px dotted $link-underline;
  text-decoration: none;

  &:hover {
    color: $link-underline;
    border-bottom: 1px solid $link-underline;
  }
}

.hidden {
  display: none;
}

.nav-to-top {
  background: $red;
  position: fixed;
  bottom: 20px;
  right: 20px;

}
