html, body, body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

h1 {
  margin-bottom: 2%;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1%;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 1%;
  line-height: 1.5em;
}

a, p {
  color: $text-default;
}

a {
  border-bottom: 1px dotted $link-underline;
  text-decoration: none;

  &:hover {
    color: $link-underline;
    border-bottom: 1px solid $link-underline;
  }
}
