html, body, body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

img {
  max-width: 100%;
}

a, p {
  color: $text-default;
}

p {
  line-height: 1.5em;
}

h2 {
  font-size: 1.5em;
}

body {
  padding: 2%; 
}

@media(max-width: 750px) {

}
