.page__research {
  .table-of-contents {

    width: fit-content;
    background: whitesmoke;
    padding: 5%;
    margin-bottom: calc(5% + 40px);

    h3 {
      margin-bottom: 3%;
    }

    li {
      list-style-type: none;
      line-height: 1.7em;
      margin-left: 20px;
    }
  }
}

