.page__research {

  .table-of-contents {

    width: fit-content;
    background: whitesmoke;
    padding: 3%;
    margin-bottom: calc(1% + 40px);

    .component__table-of-contents-header {
      margin-bottom: 3%;
    }

    .component__table-of-contents-list-item {
      list-style-type: none;
      line-height: 1.7em;
      margin-left: 20px;
    }

  }

}

@media(max-width: 850px) {
  .table-of-contents {
  }
}
