{% extends "layout.html" %}
{% from 'macros/date-span.html' import date_span %}

{% block title %}
  <h2>{{ this.title }}</h2>
{% endblock %}

{% block body %}

  {% set teaching = site.query('/cv/teaching').order_by('-year_end') %}
  {% set education = site.query('/cv/education').order_by('-year_end') %}
  {% set awards = site.query('/cv/awards').order_by('-year') %}
  {% set grants = site.query('/cv/grants').order_by('-year_end') %}
  {% set appointments = site.query('/cv/appointments').order_by('-year_end') %}

  <li></li>
  <div class="cv-download">
    <a class="cv-download__link" href="{{ '/static/download/MayaLRosenCV.pdf' | url }}">
      <span>Download Full CV</span><image src="/static/img/doc.svg" />
    </a>
  </div>

  <h3>Academic Appointments</h3>
  <br>
  <ul class="grants">
    {% for appointment in appointments %}
    <li>
      <ul class="education__record">
        <li class="education__record-year cv-tab">{{ date_span(appointment.year_start, appointment.year_end) }}</li>
        <ul class="cv-folder">
          <li class="education__record-university">{{ appointment.university }}</li>
          <li class="education__record-degree">{{ appointment.title }}</li>
        </ul>
      </ul>
    </li>
    {% endfor %}
  </ul>

  <h3>Grants</h3>
  <br>
  <ul class="grants">
    {% for grant in grants %}
    <li>
      <ul class="education__record">
        <li class="education__record-year cv-tab">{{ date_span(grant.year_start, grant.year_end) }}</li>
        <ul class="cv-folder">
          <li class="education__record-university">{{ grant.institution }}</li>
          <li class="education__record-degree">{{ grant.title }}</li>
        </ul>
      </ul>
    </li>
    {% endfor %}
  </ul>


  <h3>Education</h3>
  <br>

  <ul class="education">
    {% for ed in education %}
    <li>
      <ul class="education__record">
        <li class="education__record-year cv-tab">{{ ed.year_start }} - {{ ed.year_end or "Present "}}</li>
        <ul class="cv-folder">
          <li class="education__record-university">{{ ed.university }}</li>
          <li class="education__record-degree">{{ ed.degree }}</li>
          <li class="education__record-publication">{{ ed.publication }}</li>
        </ul>
      </ul>
    </li>
    {% endfor %}
  </ul>

  <h3>Teaching Experience</h3>
  <br>

  <ul class="teaching">
  {% for position in teaching %}
    <li>
      <ul class="teaching__record">
        <li class="teaching__record-year cv-tab">{{ date_span(position.year_start, position.year_end) }}</li>
        <ul class="cv-folder">
          <li class="teaching__record-university">{{ position.university }}</li>
          <li class="teaching__record-position">{{ position.position }}</li>
          <li class="teaching__record-course">{{ position.course }}</li>
        </ul>
      </ul>
    </li>
  {% endfor %}
  </ul>

  <h3>Awards and Honors</h3>
  <br>

  <ul class="awards">
    {% for award in awards %}
    <ul class="awards__record">
      <li class="awards__record-title">{{ award.title }}</li>
      <li class="awards__record-year">{{award.year}}</li>
    </ul>
    {% endfor %}
  </ul>

{% endblock %}
