{% extends "layout.html" %}

{% block title %}
  <h2>{{ this.title }}</h2>
{% endblock %}

{% block body %}

  {% set teaching = site.query('/cv/teaching') %}
  {% set education = site.query('/cv/education') %}
  {% set awards = site.query('/cv/awards') %}

  <div class="cv-download">
    <a class="cv-download__link" href="{{ '/static/download/MayaLRosenCV.pdf' | url }}">
        Download CV<image src="/static/img/doc.svg" />
    </a>
  </div>

  <h3>Education</h3>
  <br>

  <ul class="education">
    {% for ed in education %}
    <li>
      <ul class="education__record">
        <li class="education__record-year cv-tab">{{ ed.year }}</li>
        <ul class="cv-folder">
          <li class="education__record-university">{{ ed.university }}</li>
          <li class="education__record-degree">{{ ed.degree }}</li>
          <li class="education__record-publication">{{ ed.publication }}</li>
        </ul>
      </ul>
    </li>
    {% endfor %}
  </ul>

  <h3>Teaching Experience</h3>
  <br>

  <ul class="teaching">
  {% for position in teaching %}
    <li>
      <ul class="teaching__record">
        <li class="teaching__record-year cv-tab">{{ position.year }}</li>
        <ul class="cv-folder">
          <li class="teaching__record-university">{{ position.university }}</li>
          <li class="teaching__record-position">{{ position.position }}</li>
          <li class="teaching__record-course">{{ position.course }}</li>
        </ul>
      </ul>
    </li>
  {% endfor %}
  </ul>

  <h3>Awards and Honors</h3>
  <br>

  <ul class="awards">
    {% for award in awards %}
    <ul class="awards__record">
      <li class="awards__record-title">{{ award.title }}</li>
      <li class="awards__record-year">{{ award.year }}</li>
    </ul>
    {% endfor %}
  </ul>

{% endblock %}
