<header>
  <nav>
    <ul>
      <li class="logotype">
        <a class="{{ active_path_class(this.title, 'about-me', 'active') }}" href="/">
          <h1>Maya L. Rosen</h1>
        </a>
      </li>
      <li>
        <a class="{{ active_path_class(this.title, 'research', 'active') }}" href="/research">Research</a>
      </li>
      <li>
        <a class="{{ active_path_class(this.title, 'publications', 'active') }}" href="/publications">Publications</a>
      </li>
      <li>
        <a class="{{ active_path_class(this.title, 'cv', 'active') }}" href="/cv">CV</a>
      </li>
      <li>
        <a class="{{ active_path_class(this.title, 'press', 'active') }}" href="/press">Press</a>
      </li>
      <li>
        <a class="{{ active_path_class(this.title, 'equity-diversity-inclusion', 'active') }}" href="/equity-diversity-inclusion">Equity, Diversity & Inclusion</a>
      </li>
    </ul>
  <nav>
</header>
