<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/static/css/style.css'|asseturl }}">
    <title>Maya L. Rosen</title>
    <link rel="stylesheet" href="{{ '/static/css/main.css'|asseturl }}">
    <link rel="manifest"   href="{{ '/static/manifest.json'|asseturl }}">
    <link rel="shortcut icon" href="{{ '/static/favicon.ico'|asseturl }}">
    <meta name="theme-color" content="#000000">
  </head>
  <body id="top">
    {% from 'macros/table-of-contents.html' import render_toc %}
    {% include 'header.html' %}

    <main class="page page__{{ this.title | slug }}">

      {% if this.show_title %}
      <h2>{{ this.title }}</h2>
      {% endif %}

      {% if this.toc %}
        <aside class="table-of-contents">
          {{ render_toc(this.content) }}
        </aside>
      {% endif %}

      {% block body %}{% endblock %}

    </main>

    {% include 'footer.html' %}

    <script src="{{'static/js/table-of-contents.js' | asseturl }}"></script>

  </body>
</html>
