<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/static/css/style.css'|asseturl }}">
    <title>Maya L. Rosen</title>
    <link rel="stylesheet" href="{{ '/static/css/main.css'|asseturl }}">
    <link rel="manifest"   href="{{ '/static/manifest.json'|asseturl }}">
    <link rel="shortcut icon" href="{{ '/static/favicon.ico'|asseturl }}">
    <meta name="theme-color" content="#000000">
  </head>
  <body id="top">
    {% include 'header.html' %}
    <main class="page page__{{ this.title | slug }}">{% block body %}{% endblock %}</main>
    {% include 'footer.html' %}
    <script src="{{'static/js/nav-to-top.js' | asseturl }}"></script>
  </body>
</html>
